<h1>Welcome to my Tutorial App Home Page!</h1>
<p>
	This is a link to <a href = "http://www.apple.com">Apple</a>
</p>

<p>
	<a href = "#">This is a 'stubbed'out link</a>
</p>

<div class = "footer">
	<small>
		<a href = "http://www.apple.com">Apple</a>
		This is a link to Apple.
	</small>

</div>
